.form-field {
    width: 90%;
    margin-left: 20px;
}

.members-container, .btn-container{
    margin-left: 20px;
}

.error {
    bottom: -14px;
    position: absolute;
    font-size: 12px;
}

.btn-add {
    position: absolute;
    right: -70px;
    top: -6px;
}

.btn-container {
    margin-top: 20px;
}

.btn-create {
    float: right;
}