<div class="contaner">
    <mat-card color="primary">
        <mat-card-header>
            <mat-card-title>
                NG Projects
                <button 
                    class="btn-create" 
                    mat-raised-button color="primary"
                    [routerLink]="['/project-create']">Create</button>
            </mat-card-title>
            <mat-card-subtitle>Time to create your project list here...</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-card
                class="card-projects"
                *ngFor="let project of projects; let i = index">
                <mat-card-header>
                    <mat-card-title>
                        <h5>Project Name: {{ project.name }}</h5>
                        <div class="description-container">
                            <b>Description:</b> {{ project.description }}
                        </div>
                        <button 
                            [routerLink]="['/project-view', i]" 
                            class="btn-create"  
                            mat-icon-button>
                            <mat-icon>visibility</mat-icon>
                          </button>
                    </mat-card-title>
                </mat-card-header>
            </mat-card>
        </mat-card-content>
    </mat-card>
    
</div>